
{{#each twoDimensionalPieces as |row|}}
    <tr>
        {{#each row as |piece|}}
            <td class="piece-{{piece.value}} piece" style="background-image: url({{puzzle.imageUrl}});" {{action 'movePiece' piece}}>
                {{!-- {{piece.value}} - {{ piece.index }} --}}
            </td>
        {{/each}}
    </tr>
{{/each}}
